* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -999;
}

.cadastro {
  background: linear-gradient(to right, black 40%, rgba(0, 0, 0, 0));
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5vw;
  flex-direction: column;
}

.cadastro .tt {
  color: #e5c409;
  margin-bottom: 30px;
  font-size: 3rem;
  width: fit-content;
}

.cadastro form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 80vw;
  max-width: 350px;
  gap: 2vh;
}

.cadastro .email,
.cadastro .senha,
.cadastro .usuario {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  gap: 10px;
}

.cadastro label {
  padding-left: 5px;
}

.cadastro input {
  height: 45px;
  border-radius: 5px;
  border: solid 1px #757575;
  background-color: #2c2c2c;
  padding-inline: 5px;
  color: aliceblue;
}

/* password wrapper for eye button */
.password-wrapper {
  position: relative;
  display: block;
}

.password-wrapper .password-input {
  padding-right: 44px;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-wrapper .toggle-password svg {
  width: 18px;
  height: 18px;
  display: block;
}

.cadastro a {
  text-align: end;
  color: inherit;
  text-decoration: none;
  font-weight: 200;
  font-size: 0.8rem;
  margin-right: 10px;
}

.cadastro a:hover {
  color: #fcb0b0;
}

.cadastro .btn-cadastrar {
  background-color: #e5c409;
  border-radius: 5px;
  border: none;
  color: white;
  height: 50px;
  font-size: 1rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cadastro .btn-cadastrar:hover {
  background-color: #5a1212;
}

.cadastro p {
  text-align: center;
  color: white;
}

.cadastro p a {
  color: #e5c409;
  text-decoration: none;
}

.cadastro p a:hover {
  color: #883131;
}

@media (max-width: 500px) {
  .cadastro {
    background: rgba(0, 0, 0, 0.774);
    align-items: center;
    width: 100vw;
  }

  .cadastro .tt {
    font-size: clamp(2rem, 6vw, 3rem);
  }
}
