* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -999;
}

.login {
  background: linear-gradient(to right, black 40%, rgba(0, 0, 0, 0));
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5vw;
  flex-direction: column;

  .tt {
    color: #e5c409;
    margin-bottom: 30px;
    font-size: 3rem;
    width: fit-content;
  }

  form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80vw;
    max-width: 350px;
    gap: 2vh;

    .email,
    .senha {
      display: flex;
      flex-direction: column; /**/
      color: white;
      font-weight: 600;
      gap: 10px;

      label {
        padding-left: 5px;
      }

      input {
        height: 45px;
        border-radius: 5px;
        border: solid 1px #757575;
        background-color: #2c2c2c;
        padding-inline: 5px;
        color: aliceblue;
      }

      /* password-wrapper and toggle button */
      .password-wrapper {
        position: relative;
        display: block;
      }

      .password-wrapper .password-input {
        padding-right: 44px;
      }

      .password-wrapper .toggle-password {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        font-size: 18px;
        line-height: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .password-wrapper .toggle-password svg {
        width: 18px;
        height: 18px;
        display: block;
      }

      a {
        text-align: end;
        color: inherit;
        text-decoration: none;
        font-weight: 200;
        font-size: 0.8rem;
        margin-right: 10px;
      }

      a:hover {
        color: #fcb0b0;
      }
    }

    .btn-entrar {
      background-color: #e5c409;
      border-radius: 5px;
      border: none;
      color: white;
      height: 50px;
      font-size: 1rem;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .btn-entrar:hover {
      background-color: #5a1212;
    }

    p {
      text-align: center;
      color: white;

      a {
        color: #e5c409;
        text-decoration: none;
      }

      a:hover {
        color: #883131;
      }
    }
  }
}

@media (max-width: 500px) {
  .login {
    background: rgba(0, 0, 0, 0.774);
    align-items: center;
    width: 100vw;

    .tt {
      font-size: clamp(2rem, 6vw, 3rem);
    }
  }
}
